@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 200;
    background-image: url(../../dist/img/Background-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container {
    min-width: 1024px;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 8px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
    background: #010216;
    border-radius: 3px;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #639BC1;
    border-radius: 3px;
}

.root {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form-check-label {
    margin-bottom: 1.05rem;
}

.form-check-input {
    margin-top: .2rem;
    margin-left: -1.85rem;
    width: 23px;
    height: 23px;
}

.modal {
    display: block;
    opacity: 0;
    pointer-events: none;
}

.modal-content {
    font-family: 'Lato';
    color: whitesmoke;
    background: rgb(99, 155, 193);
    background: radial-gradient(circle, rgba(99, 155, 193, 1) 0%, rgba(89, 145, 182, 1) 33%, rgba(48, 104, 139, 1) 100%);
    border: 7px solid #ADB3D4;
    border-radius: 1.2rem;
    transform: translate(0, -200%);
    transition: transform 300ms ease-out;
}

.modal-body {
    font-size: 1.1em;
    letter-spacing: 0.8px;
    text-shadow: 0 2px 4px rgb(0, 0, 0, 0.26);
}

.modal.show {
    opacity: 1;
    pointer-events: all;
}

.modal.show .modal-content {
    transform: translate(0, 0%);
}

.modal-content .modal-footer {
    border-top: none;
}

.modal-backdrop {
    z-index: 999;
    pointer-events: none;
    background: rgb(0, 0, 0, 0.30);
}

.modal-backdrop.show {
    opacity: 1 !important;
    backdrop-filter: blur(20px) !important;
}

.modal-title {
    font-weight: 600;
}

.modal-title span {
    font-weight: 300;
    font-size: 14px;
    color: #BFBFBF;
}

#modalSettings .modal-content {
    font-family: 'Lato';
}

#modalSettings .modal-body {
    font-size: 1rem;
    text-align: left;
}

#modalRules .modal-body {
    line-height: 1.7;
}

.overlay,
.player-input {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #010216;
    opacity: 1;
    transition: opacity 300ms ease;
    z-index: 999;
}

.overlay.gone,
.player-input.gone {
    opacity: 0;
    pointer-events: none;
}

.preload {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preload-text {
    color: #bfbfbf91;
    font-size: 1.5rem;
    text-align: center;
    padding: 12px;
}

.preload .spinner-grow {
    width: 3rem;
    height: 3rem;
    margin: 0 2px;
}

.preload-progress {
    text-align: center;
}


.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.board {
    height: 80%;
    width: 100%;
    background: rgb(99, 155, 193);
    background: radial-gradient(circle, rgba(99, 155, 193, 1) 0%, rgba(89, 145, 182, 1) 33%, rgba(48, 104, 139, 1) 100%);
    border: 7px solid #ADB3D4;
    box-shadow: 0 6px 8px rgb(0, 0, 0, 0.16);
    border-radius: 2rem;
    overflow: hidden;
}

.tittle-section {
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
    text-shadow: 0 3px 5px rgb(0, 0, 0, 0.26);
}

.text-content {
    height: 170px;
    overflow-y: scroll;
    transition: height 300ms ease 500ms;
}

.text-inner {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #FFF;
    line-height: 1.6;
    padding: 0 140px;
}

.move-page {
    transform: translateY(-100vh);
    transition: 900ms 100ms cubic-bezier(0.46, 0.03, 0.38, 0.73)
}

.info-wrapper,
.home-wrapper,
.contact-wrapper {
    height: 100vh;
    width: 100%;
}

.info-inner,
.home-inner,
.contact-inner {
    height: 79%;
    position: relative;
}

.logo-xl {
    transition: all 300ms ease;
}

.logo-xl img {
    opacity: 1;
    transition: all 300ms ease;
}

.info-wrapper.expand .logo-xl {
    height: 0;
}

.info-wrapper.expand .logo-xl img {
    opacity: 0;
    pointer-events: none;
}

.info-wrapper.expand .info-inner {
    overflow-y: scroll;
}

.info-wrapper.expand .text-content {
    height: auto;
    overflow-y: unset;
}

.expand-info {
    font-size: 28px;
    line-height: 0;
    color: white;
    height: 38px;
    background-color: #71B1F1;
}

.social-link a {
    margin: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.social-link a img {
    filter: drop-shadow(0 0 3px rgba(14, 28, 54, 0)) saturate(6%);
    transition: all 300ms ease;
}

.social-link a:hover {
    border-bottom: 2px solid rgb(253, 253, 253);
    opacity: 1;
}

.social-link a:hover img {
    filter: drop-shadow(0 0 5px rgba(176, 237, 255, 0.89)) saturate(100%);
}

.credits a {
    color: #0a0c3a65;
}

.home-wrapper .btn {
    transition: ease 300ms;

}

.info-btn:hover .tr-move,
.play-btn:hover .btn,
.contact-btn:hover .tr-move {
    transform: scale(1.2) translateY(-16px);
}

.contact-inner .back-home {
    position: absolute;
    top: 25px;
    right: 45px;

}

.back-home .btn img {
    width: 40px;
    height: 40px;
    position: relative;
}

.contact-text .form-control {
    height: 46px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: #BFBFBF;
    border: none;
}

.contact-text input,
.contact-text .email-message {
    border-radius: 10px;
    background: rgb(43, 121, 173);
    background: radial-gradient(circle, rgba(43, 121, 173, 1) 0%, rgba(45, 117, 164, 1) 28%, rgba(14, 88, 142, 1) 91%, rgba(4, 79, 134, 1) 100%);
}


.contact-text .email-message {
    height: auto;
}

.contact-text .email-message textarea {
    background: transparent;
    border: none;
}

.form-control::placeholder {
    color: #BFBFBF;
    font-size: 14px;
    font-weight: 400;
}

.logo-sm {
    position: absolute;
    top: 6px;
    left: 25px;
}


.wrapper#lobby {
    transform: translateY(0);
    opacity: 1;
    position: relative;
    z-index: 2;
    transition: transform 1.5s cubic-bezier(0.46, 0.03, 0.38, 0.73) 200ms, opacity 300ms ease 200ms;
}

.wrapper#gameplay {
    position: relative;
    padding-top: calc(6vh - 1.2%);
    margin-top: -100vh;
    opacity: 0;
    display: none;
    align-items: center;
    transition: opacity 300ms ease 500ms;
}

body.playing .wrapper#lobby {
    transform: translateY(-9999%);
    opacity: 0;
}

body.playing .wrapper#gameplay {
    opacity: 1;
}


.lobby {
    height: 100%;
    padding: 0 20px;
    padding-top: 8%;
    position: relative;
}

.lobby-inner {
    background-color: #2B6292;
    border-radius: 14px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

.player-input {
    opacity: 0;
    background: rgb(0, 0, 0, 0.30);
    backdrop-filter: blur(30px);
    pointer-events: none;
    transition: opacity ease-out 200ms 200ms;
    z-index: 99;
}

.player-input.asked {
    opacity: 1;
    pointer-events: all;
}

.input-name {
    font-family: 'Lato';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-name .form-group {
    width: 50%;

}

.input-name input {
    height: 90px;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
    border-radius: 23px;
    transition: all ease 800ms;
    text-shadow: none;
    transform: translateY(-120%);
}

.input-name input,
.input-name input::placeholder,
.input-name input:focus {
    font-size: 20px;
    font-weight: 700;
    color: #DCDCDC;
}

.input-name button {
    opacity: 0;
    transition: opacity ease-out 300ms 400ms;
}

.player-input.asked .input-name input {
    transform: translateY(0);

}

.player-input.asked .input-name button {
    opacity: 1;
}

.player-input.asked .input-name button.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.validation-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: red;
}

.player {
    font-family: 'Lato';
    font-size: 2em;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 0 3px 6px rgb(0, 0, 0, 0.26);
}

.player-name {
    text-transform: capitalize;
    letter-spacing: 0.6px;
}

.start-play:active .btn,
.quit:active .btn,
.multiple-choice:active,
#enterGame:active,
#settingsGame:active,
#quitGame:active,
#finishGame:active,
#repeatGame:active,
#saveSettings:active,
#closeSettings:active,
#fiftyChoice:active,
#googleSearch:active,
#highlightChoice:active {
    transform: scale(0.98);
}

.right-wrapper {
    font-family: 'Lato';
    color: #FFF;
    transform: translateX(999%);
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.38, 0.73) 200ms;
}

.left-wrapper {
    font-family: 'Poppins';
    transform: translateX(-999%);
    transition: transform 1s cubic-bezier(0.46, 0.03, 0.38, 0.73) 200ms;
}

body.playing .right-wrapper,
body.playing .left-wrapper {
    transform: translateX(0%);
}

.checkpoint-level,
.question-text,
.multiple-choice {
    border: 7px solid #ADB3D4;
    border-radius: 20px;
    background: rgb(99, 155, 193);
    background: radial-gradient(circle, rgba(99, 155, 193, 1) 0%, rgba(89, 145, 182, 1) 33%, rgba(48, 104, 139, 1) 100%);
    box-shadow: 0 6px 8px rgb(0, 0, 0, 0.20);
}

.checkpoints {
    padding: 8px 6px;
    margin: 0;
}

.checkpoint {
    font-weight: 400;
    color: #BFBFBF;
    list-style: none;
    width: 100%;
    height: 25px;
    background-color: #1F587B;
    border-radius: 6px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.checkpoint span img {
    position: absolute;
    top: 3px;
    right: 26%;
}

.coin-cash {
    font-size: 1.2em;
    font-weight: 700;
    background-color: rgb(6, 47, 91);
    background-color: radial-gradient(circle, rgba(6, 47, 91, 1) 0%, rgba(4, 36, 69, 1) 86%, rgba(0, 22, 46, 1) 100%);
}

.checkpoint.checked {
    background-color: #639BC1;
    color: #FFF;
}

.instruc-game {
    height: 124px;
}

.answer-text {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
}

.caption-text {
    font-size: 17px;
    color: #43ADF5;
    text-transform: capitalize;
}

.question-text,
.multiple-choice {
    border-radius: 16px;
    padding: 6px 12px;
    letter-spacing: 0.6px;
    text-shadow: 0 3px 5px rgb(0, 0, 0, 0.14);
}

.question-text {
    padding-top: 1rem;
    height: 119px;
}

.multiple-choice {
    height: 75px;
    display: flex;
    flex: 40%;
    justify-content: space-between;
    margin: 8px;
    cursor: pointer;
}

.multiple-choice p {
    padding: 0 4px;
    margin: 0;
}

.multiple-choice.disabled,
.option-helper.disabled,
.switch-lang.disabled {
    pointer-events: none;
    opacity: 1;
}

.multiple-choice:hover {
    background: #71B1F1;
    border-color: #6979D2;
}

.choice-text {
    width: 100%;
}

.multiple-choice.correct {
    background: #58e684;
    border-color: #43a95a;
}

.multiple-choice.wrong {
    background: #dee2e69e;
}

.multiple-choice.highlight {
    animation: colorBlink 3s linear infinite;
}

.help-topbar {
    position: absolute;
    top: 25%;
    right: 135px;
    z-index: 2;
}

.help-bar {
    position: relative;
}

.help-bar p {
    margin: 0 1rem;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.help-btn {
    background-color: #f4f4f4;
    border-radius: 50%;
    font-weight: 600;
}

.option-helper.selected {
    pointer-events: none;
}

.option-helper img.disabled {
    display: none;
}

.option-helper.selected img.active {
    display: none;
}

.option-helper.selected img.disabled {
    display: inline-block;
}

.emoticon {
    position: absolute;
    top: 150px;
    right: 0;
    width: 120px;
    padding: 5px;
    background-color: rgb(255 255 255 / 48%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.46, 0.03, 0.38, 0.73) 100ms;
}

.emoticon.show-up {
    transform: translateX(0%);
}

@keyframes colorBlink {

    from,
    35%,
    75%,
    100% {
        border-color: #ADB3D4;
        /* background: radial-gradient(circle, rgba(99, 155, 193, 1) 0%, rgba(89, 145, 182, 1) 33%, rgba(48, 104, 139, 1) 100%); */
    }

    15%,
    55%,
    90% {
        border-color: #3bff76;
        /* background: orange; */
    }

}